---
layout: archive
---
<h3 class="archive__subtitle">{{ "Jinhua Liang" }}</h3>
{{ "Hello, welcome to my homepage. I am Jinhua Liang, a final-year PhD researcher at Queen Mary University of London. I am fortunate to be co-advised by Emmanouil
Benetos, Huy Phan, and Mark Sandler. <br>
My research expertise lies in the fields of Multimodal Learning for Audio Perception, Generative AI for Audio Content Creation and Editing, (Low-Shot) Acoustic Pattern Recognition, Auditory Scene Analysis, Model Compression and Acceleration, and Audio Emotion Analysis. Specifically, I have hands-on research experience on developing large language models (LLMs) as a universal system for audio understanding or generation." }}




<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
  {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}